
@{
    ViewBag.Title = "SearchHistory";
}

<h2>SearchHistory</h2>
@if (ViewBag.Model != null)
{
    <table>
        <tr>
            <th>UserIP</th>
            <th>SearchTime</th>
            <th>SearchedWord</th>
            <th>Anagrams</th>
        </tr>
        @foreach (var item in ViewBag.Model)
        {
        <tr>
            <td>@item.UserIp</td>
            <td>@item.SearchTime </td>
            <td>@item.SearchedWord </td>
            <td>
                @for (int i = 0; i < item.Anagrams.Count; i++)
                {
                    @item.Anagrams[i]
                    @Html.Raw("\n")
                }
            </td>
        </tr>
        }
    </table>

}

