
@{
    ViewBag.Title = "ShowDictionary";
}

@model PagedList.IPagedList<string>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("ShowDictionary", "Home", FormMethod.Get))
{
    @Html.TextBox("filter")
    <input type="submit" value="Filter">
}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item, "GetAnagrams", new { input = item })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ShowDictionary",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

